* {
  transition: all 0.2s ease;
  font-family: "Trebuchet MS", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #212020;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

:root {
  --phoneWidth: "@media (max-width: 684px)";
  --nav-load-time: 250ms;
  --nav-link-load-time: 250ms;
  --article-load-delay: calc(var(--nav-load-time) + var(--nav-link-load-time));
}

body {
  text-align: center;
  font-family: "Trebuchet MS", sans-serif;
  /* background-color: #292a2d; */
  background-color: rgb(19, 18, 18);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  display: flex;
  min-height: 96vh;
  flex-direction: column;
  transition: all ease-in 0.1s;
}

h2,
h3,
h4,
h5,
h6 {
  display: flex;
  align-items: center;
  line-height: 1.3;
}

h1 {
  font-size: 2.625rem;
}

h2 {
  font-size: 1.625rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

@media (max-width: 768px) {
  body {
      font-size: 1rem;
  }

  h1 {
      font-size: 1.75rem;
  }

  h2 {
      font-size: 1.4rem;
  }

  h3 {
      font-size: 1.15rem;
  }

  h4 {
      font-size: 1.125rem;
  }
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

img.left {
  margin-right: auto;
}

img.center {
  margin-left: auto;
  margin-right: auto;
}

img.right {
  margin-left: auto;
}

main {
  display: block;
}

.hidden {
  display: none;
}

.logo {
  border-radius: 24px;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  align-items: center;
  vertical-align: middle;
  padding: 4px 16px;
  top: 0;
  color: white;
  transition: all 0.1s;
  cursor: pointer;
}

.logo a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.logo i {
  vertical-align: middle;
  text-decoration: none;
  font-size: xx-large;
  background-image: linear-gradient(315deg, #1784f9 10%, #f9f8a9 57%);
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 200ms ease-in;
  position: relative;
}

.logo i svg {
  fill: white;
}

.logo:hover {
  background-image: linear-gradient(315deg, #f9f8a9 50%, #faf87c 74%);
  font-weight: bold;
  box-shadow: 0px 3px 20px 0px black;
  color: black;
  border-radius: 24px;
  cursor: pointer;
}

.logo:hover>i svg {
  fill: black;
}

.logo a:hover {
  color: black;
}

.logo-text {
  font-size: 1rem;
  font-weight: bolder;
  margin-left: 8px;
}

.home_logo {
  background-image: linear-gradient(315deg, #f9f8a9 50%, #faf87c 74%);
  font-weight: bold;
  box-shadow: 0px 3px 20px 0px black;
  color: black;
  border-radius: 16px;
  cursor: pointer;
  padding: 4px 16px;
  margin: 0 8px;
  top: 0;
  transition: all 0.1s;
  cursor: pointer;
}


.nav-bar li,
.nav-bar div,
.nav-bar a {
  animation-name: nav-link-load;
  animation-duration: var(--nav-link-load-time);
  animation-timing-function: ease-in;
  animation-delay: var(--nav-load-time);
  animation-fill-mode: forwards;
  transform: scale(0);
}

.nav-bar {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 32px;
  height: fit-content;
  display: inline-flex;
  background-color: rgba(41, 42, 45, 0.4);
  /* background-color: rgba(0, 0, 0, 0.4); */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  align-items: center;
  padding: 0 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: all ease-in 0.1s;
  animation: nav-load var(--nav-load-time) ease-in;
  border: #2d2d2d solid 1px;
}

.nav-bar:hover>.cli {
  border-radius: 0px;
}

.nav-bar:hover {
  border-radius: 24px;
}

.menu {
  display: flex;
  flex-direction: row;
  transition: all ease-in 0.1s;
  z-index: 1;
}

.menu.hidden {
  display: none;
}

.nav-bar li {
  list-style: none;
  color: white;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.1s;
}

.nav-bar .menu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  margin: 0 8px;
}

.nav-bar .menu a:hover {
  background: white;
  font-weight: bolder;
  box-shadow: 0px 3px 20px 0px black;
  padding: 8px 16px;
  margin: 0 8px;
  transform: scale(1.2);
  color: black;
  border-radius: 16px;
}

.nav-bar li:hover>a {
  color: black;
}

.footer {
  flex-grow: 0;
  color: #999;
  animation: content-load 0.1s ease-in var(--article-load-delay);
  animation-fill-mode: forwards;
  transform: translateY(-16px);
  opacity: 0;
}

.footer .__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 760px;
  max-width: 100%;
  position: relative;
}

@media (max-width: 750px) {
  .footer .__inner {
      flex-direction: column;
  }
}

.footer .__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  color: #999;
}

@media (max-width: 750px) {
  .footer .__content {
      flex-direction: column;
      margin-top: 10px;
  }
}

.footer .__content>*:not(:last-child)::after {
  content: "•";
  padding: 0 5px;
}

@media (max-width: 750px) {
  .footer .__content>*:not(:last-child)::after {
      content: "";
      padding: 0;
  }
}

.footer .__content>*:last-child {
  padding: 0 5px;
}

@media (max-width: 750px) {
  .footer .__content>*:last-child {
      padding: 0;
  }
}

@keyframes nav-load {
  0% {
      transform: translateY(-100%);
      opacity: 0;
  }

  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes nav-link-load {
  0% {
      transform: scale(0);
  }

  75% {
      transform: scale(1.1);
  }

  100% {
      transform: scale(1);
  }
}

@keyframes content-load {
  0% {
      transform: translateY(-20px);
      opacity: 0;
  }

  100% {
      transform: translateY(0px);
      opacity: 1;
  }
}

a {
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  align-items: center;
  justify-content: center;
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(41, 42, 45, 0.4);
  border-radius: 16px;
  border: 1px solid rgba(41, 42, 45, 0.4);
}

.form-container h1 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 1.5rem;
}

.form-container hr {
  width: 100%;
  border: 1px solid rgba(41, 42, 45, 0.4);
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 16px;
}

.input-container label {
  font-size: 1rem;
  margin-bottom: 2px;
  padding-left: 4px;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="date"] {
  border-radius: 8px;
  border: 1px solid rgba(41, 42, 45, 0.4);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 1rem;
  margin-top: 8px;
  width: 320px;
  background-color: rgba(41, 42, 45, 0.4);
  color: white;
}

textarea {
  border-radius: 8px;
  border: 1px solid rgba(41, 42, 45, 0.4);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 1rem;
  margin-top: 8px;
  width: 320px;
  min-height: 160px;
  background-color: rgba(41, 42, 45, 0.4);
  color: white;
}

.select {
  border-radius: 8px;
  border: 1px solid rgba(41, 42, 45, 0.4);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  font-size: 1rem;
  margin-top: 8px;
  width: 100% !important;
  background-color: rgba(41, 42, 45, 0.4);
  color: white;
  appearance: none;
}

input[type="submit"] {
  border-radius: 8px;
  border: 1px solid rgba(41, 42, 45, 0.4);
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 1rem;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
  background-color: rgba(41, 42, 45, 0.4);
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgba(41, 42, 45, 0.6);
}

.helper {
  color: whitesmoke;
}

.helper a {
  color: #4399f4;
  text-decoration: underline;
  font-style: italic;
}

.radioButtonGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.radioButtonGroup .radioOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  border: 1px solid rgba(41, 42, 45, 0.4);
  border-radius: 8px;
  padding: 8px;
}

.radioButtonGroup .radioOption label {
  margin-left: 4px;
}

.radioButtonGroup .radioOption:hover {
  background-color: rgba(41, 42, 45, 0.6);
}

input[type="radio"] {
  margin-right: 4px;
}

input[type="file"] {
  border-radius: 8px;
  border: 1px solid rgba(41, 42, 45, 0.4);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 1rem;
  margin-top: 8px;
  width: 320px;
  background-color: rgba(41, 42, 45, 0.4);
  color: white;
  display: block;
}

/* Style that choose file button also and file name preview */
input[type="file"]::-webkit-file-upload-button {
  border-radius: 16px;
  border: 1px solid rgba(41, 42, 45);
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: rgba(41, 42, 45, 0.4);
  color: #f2f2f2;
  cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: rgba(41, 42, 45, 0.6);
}


/* Popup form */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background-color: black;
  margin: auto;
  border: 1px solid rgba(41, 42, 45, 0.4);
  border-radius: 16px;
  width: 80%;
  max-width: 600px;
  color: white;
}

.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  margin-right: 16px;
  margin-top: 8px;
}

.close:hover,
.close:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 750px) {
  .modal-content {
      width: 100%;
  }
}

/* Popup form end */


.songList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.songList .songCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8px;
  width: 240px;
  height: 360px;
  background-color: rgba(41, 42, 45, 0.4);
  border-radius: 16px;
  border: 1px solid rgba(41, 42, 45, 0.4);
}

.songList .songCard .songCard__image {
  overflow: hidden;
  border-radius: 16px;
}

.songList .songCard .songCard__image img {
  height: 240px;
  width: 240px;
  object-fit: cover;
  border-radius: 16px;
}

.songList .songCard .songCard__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.songList .songCard .songCard__buttons a {
  padding: 4px;
  border: 1px solid rgba(41, 42, 45, 0.4);
  border-radius: 8px;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
}

.songList .songCard .songCard__buttons a:hover {
  background-color: rgba(41, 42, 45, 0.6);
}

.songList .songCard hr {
  width: 100%;
  border: 0.5px solid rgba(41, 42, 45, 0.4);
}

.songList .songCard h3 {
  font-size: 1.25rem;
  margin-top: 8px;
  margin-bottom: 8px;
}

.songList .songCard .genreChip {
  font-size: 1rem;
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

/* scale image but within bounds of card on hover */

.songList .songCard:hover>.songCard__image img {
  transform: scale(1.2);
}

.iconRow {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.playButton {
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(41, 42, 45);
  border-radius: 16px;
  margin-right: 4px;
  cursor: pointer;
  padding: 4px;
  color: black;
  background-image: linear-gradient(315deg, #a9f9f1 50%, #7cfaf8 74%);
}

.playButton .button-text {
  font-size: 1rem;
  padding: 4px;
  margin: 0px;
}

.playButton .hidden {
  display: none;
}

.songCard .songCard__progress {
  width: 100%;
  height: 4px;
  background-color: rgba(41, 42, 45, 0.4);
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.songCard .songCard__progress .progressBar {
  width: 0%;
  height: 100%;
  background-color: rgba(41, 42, 45, 0.8);
  border-radius: 8px;
}

.empty {
  padding: 16px;
  font-size: 1rem;
  display: block;
  color: white;
  border: 1px solid rgba(41, 42, 45, 0.4);
  border-radius: 16px;
  background-color: rgba(41, 42, 45, 0.4);
  width: fit-content;
  margin: auto;
  text-align: center;
}

/* Customize audio controls */
audio {
  width: 100%;
  outline: none;
}

/* Search bar */
.searchBar {
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 16px;
}

.searchBar .searchButton {
  border: 1px solid rgba(41, 42, 45, 0.4);
  border-radius: 8px;
  padding: 8px;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
  background-color: rgba(41, 42, 45, 0.4);
  color: white;
}

.searchBar .searchButton i {
  vertical-align: middle;
  text-decoration: none;
  font-size: x-large;
  background-image: linear-gradient(315deg, #17d7f9 10%, #a9f9f8 57%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 200ms ease-in;
  border-radius: 50%;
  position: relative;
  margin-right: 4px;
}

.bigButton {
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(41, 42, 45);
  padding: 16px;
  border-radius: 16px;
  cursor: pointer;
  margin: 4px;
  margin-top: 48px;
}

.bigButton i svg {
  vertical-align: middle;
  text-decoration: none;
  font-size: xx-large;
  background-image: linear-gradient(315deg, #17d7f9 10%, #a9f9f8 57%);
  fill: #a9f9f8;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 200ms ease-in;
  border-radius: 50%;
  position: relative;
  margin-right: 4px;
}


.bigButton:hover {
  background-color: rgba(41, 42, 45, 0.4);
}